{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{# @var page \Shopware\Storefront\Page\Product\ProductPage #}
{% block page_product_detail_content %}
    {% if page.product.extensions.promotion.elements %}
        <div class="badge badge-danger">
            Promotion
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
